<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>https://api.nasa.gov/mars-photos/api/v1/rovers/</string>
	<key>urlPath</key>
	<string>/photos?sol=1000&amp;</string>
	<key>queryParam</key>
	<string>&amp;api_key=dFrRdo5jJMcbnwp2ERFwiQ29UKxCazZ9mVJ9ZVW6</string>
</dict>
</plist>
